@model IEnumerable<UserManualModel>
@using Nop.Plugin.Widgets.UserManuals.Models;
@using Nop.Plugin.Widgets.UserManuals.Controllers;
@using Nop.Plugin.Widgets.UserManuals.Resources;
@using System.Linq;

@{
    Html.AddCssFileParts("~/Plugins/Widgets.UserManuals/Content/UserManuals.css", excludeFromBundle: true);
}

@if (Model.Any())
{
    <div class="userManuals-products">
        <div class="userManuals-caption">@T(Model.Count() > 1 ? UserManualResources.ListCaption : UserManualResources.UserManual)</div>
        <div class="userManuals-list">
            @foreach (var manual in Model)
            {
                <div class="userManual">
                    @if (!string.IsNullOrWhiteSpace(manual.OnlineLink))
                    {
                        <a href="@manual.OnlineLink" class="action" target="_blank" title="@T(UserManualResources.OnlineLinkText)">@T(UserManualsActionResources.View)
                        </a>
                    }
                    @if (manual.DocumentId > 0)
                    {
                        var url = Url.Action(nameof(UserManualsController.UserManualDownload), UserManualsController.ControllerName, new { id = manual.DocumentId });

                        <a href="@url" target="_blank" class="action" title="@T(UserManualResources.DownloadText)">@T(UserManualsActionResources.Download)
                        </a>
                    }
                </div>
            }
        </div>
    </div>
}